@charset "utf-8";

/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin: 0;padding: 0;-webkit-text-size-adjust: none}
body, html {width: 100%;height: 100%;min-width: 1240px;}
body, input, textarea, select, button, table {font-family:'나눔바른고딕', NanumBarunGothic, ng, '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', AppleGothic, Helvetica, sans-serif;
    font-size: 12px;-webkit-font-smoothing: antialiased}
img, fieldset, button {border: 0}
ul, ol {list-style: none}
em, address {font-style: normal}
a {text-decoration: none}
a:hover, a:active, a:focus {text-decoration: none}
.blind {overflow:hidden;position:absolute;top:0;left:0;width: 1px;height: 1px;font-size:0;line-height:0}
.edge {position: absolute;top: 12px;right: 4px;width: 0;height:0;border-width: 0 8px 8px;border-style:solid;border-color: transparent transparent #333}
.clear {clear: both}
/* Skip to content */
.skip {margin: 0}
.skip > a {display: block;overflow: hidden;height: 0;line-height: 28px;text-align: center}
.skip > a:focus {height: auto}

/* Layout */
.xe-clearfix {height:79px;}
.container {min-width: 1240px;background-color:#fff}
.header {z-index: 2;width:1200px;height: 100%;margin: 0 auto;position: relative;zoom: 1}
.header > .side {z-index: 2;line-height: 20px;margin: 3px 0 0 0px;line-height: 20px;display: block;right:0;position:absolute;}

/* -- 메뉴 -- */
.wrap_menu{z-index:1;position:relative;background:#272525;}
.gnb{position:relative;z-index:1;height:79px;overflow:hidden;padding:0}
.main_menu {margin-top:15px;}
.main_menu li{position:relative;}
a.first_a{height:24px;line-height:24px;font-size:15px;font-weight:bold;display:block;padding:20px 0 35px 0;color:#333;}
.main_menu .first_span{position:relative;height:24px;overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;}
.main_menu div{position:relative;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;min-height:200px;-webkit-transition:all .4s;transition:all .4s;-moz-transition:all .4s;}

.visual {overflow: hidden;position: relative;width: 100%}
.body {position: relative;padding:0}
.body .content {}
.body.fixed-width {width: 1200px;margin: 0 auto}
.header:after, .body:after {display: block;clear: both;content: ''}
.content {zoom: 1}
.content:after {display: block;clear: both;content: ''}
.content img {max-width: 100%;height: auto}


/* Header */
.header > h1 img {vertical-align: middle;}
.header > .logo-item{position:absolute;left:55%;width:240px;height:79px;background-color:#272525;margin-left:-180px;padding:10px 0 0;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;z-index:999;}

.header > .logo-item .lnb_title_han {display:block;color:#333;padding:65px 0 0 0;margin:0;}
.header > .logo-item .lnb_subtitle_han{font-size:14px;line-height:18px;margin: 0;padding: 0;}
.header > .logo-item .lnb_subtitle_han a {color:#000}
.header > .logo-item h1{font-size:36px;font-family:nsm;font-weight:normal;}
.header > .logo-item .lnb_title_h {margin-top:100px;}

/* Fixed Header */
.container.fixed_header {}
.fixed_header .header_wrap {position:relative;top: 0;left: 0;height:94px;right: 0;width: auto;z-index:1000;padding: 0;border-bottom: 1px solid rgba(0,0,0,.3);}
.fixed_header .header_wrap.shrink {position: fixed;top:0;width:auto;min-width: 1240px;z-index: 1000;border-bottom: 1px solid rgba(0,0,0,.3);background-color: #fff;-webkit-animation: ani-header 0.5s forwards;animation: ani-header 0.5s forwards;left: 0;right: 0;}
.fixed_header .header_wrap.shrink .search_area {padding: 0 20px}

/* Footer */
.footer {border-top: 1px solid #e4e4e4;background-color: #272525;}
.footer a:hover, .footer a:focus {text-decoration: none}
.footer .f_info_area {overflow:hidden;padding: 5px 0 5px;background-color: #f1f1f1;}
.footer .f_cr_area {padding:40px;background-color:#272525}
.footer .copyright {width: 1200px;margin: 0 auto;font-size: 13px;color: #f1f1f1;line-height: 18px}
.footer .copyright a {color: #f1f1f1}
.footer .copyright a:hover,
.footer .copyright a:focus,
.footer .copyright a:active {color: #cda25a}
.footer .copyright span {display:block;}
.footer .sub_desc {margin-bottom: 16px;font-size: 13px;color: #888;line-height: 22px}
.footer .f_info {float:left;width:240px;margin-right: 65px}
.footer .f_logo {overflow:hidden;max-width: 100%;margin-bottom: 16px;font-size: 24px;color: #555}
.footer .f_logo.log_txt a {font-size: 24px;font-weight: bold;color: #555}
.footer .f_logo img {max-width: 240px}
.footer .f_info2 {overflow: hidden;margin: 30px 0;width:1200px;margin: 0 auto;}
.footer .site_map > ul {display:inline-block;overflow: hidden;}
.footer .site_map > ul li {float:left;padding: 10px 0;}
.footer .site_map > ul li:first-child, .footer .site_map > ul li.clear {clear: both;margin-left: 0}
.footer .site_map > ul li a {display:inline-block;margin: 0;padding: 0 23px;font-size: 15px;font-weight: bold;color: #555}
.footer .site_map > ul ul {overflow: hidden;margin: 0 0 10px}
.footer .site_map > ul ul li {margin-left: 0}
.footer .site_map > ul ul a {margin: 0 0 13px;font-size: 13px;font-weight: normal;color: #888;line-height: 18px}
.footer .site_map > ul ul a:hover,
.footer .site_map > ul ul a:focus,
.footer .site_map > ul ul a:active {color: #555}
.footer .f_cr_area .mobile-footer-member {display: none;}
.info{overflow:hidden;width:100%;}
.footer span{overflow:hidden;display:block;margin-bottom:15px}
.footer .info ul{margin:0; padding:0; list-style:none}
.footer .info li{float:left;width:100%;padding:0;font-size: 14px;line-height:28px;color:#b0b0b0;}
.footer .info li a{color:#fff;}
.footer .life{margin: 20px 0 0 0;padding: 20px 0 0 20px;border-top: 1px solid rgba(228, 228, 228, 0.4);}

.bt_banner{overflow:hidden;position:absolute;width:360px;padding: 60px 70px;font-size:14px;margin: -183px 0 0 840px;background: #313a43 url(../img/foot_center_bg.jpg) no-repeat 0% 70%;box-sizing: border-box;}
.bt_banner .cc_tit {font-size:20px;color: #fff;letter-spacing:0.5px;line-height:48px;opacity: 0.79;margin: 0;}
.bt_banner .cc_c02 {font-size:38px;color:#eb4226;font-family:nsb;line-height:42px;font-weight: normal;letter-spacing:2px;margin: 0;}
.bt_banner .cc_c03 {margin:15px 0 5px 0;}
.bt_banner .cc_hp{margin:0;font-size:16px;line-height:22px;letter-spacing:1px;color:#fff;opacity:0.6;}
.bt_banner .banner_btn{float:left;margin-top: 30px;}
.bt_banner .banner_btn a{padding:8px 25px;margin-right:5px;color:#fff;border:1px solid rgba(255, 255, 255, 0.3);opacity:0.7;transition:.3s linear;}
.bt_banner .banner_btn a:hover{background:#64b5f6;border:1px solid #e3f2fd;color:#fff;opacity:0.76;transition:.3s linear;}

/* button */
.btn_item {display: inline-block;margin: 35px 0;padding: 0 27px;height:50px;font-family: "Open Sans";background-color: #555;font-size: 14px;line-height:50px;letter-spacing: 1px;color:#FFF;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out}
.btn_item:hover,
.btn_item:active
.btn_item:focus {background-color: #CBA061;color: #fff}
.btn_item + .btn_item {margin-left: 10px;}
/* Login */
.header > .side > ul > li {float:left;position: relative}
.header > .side > ul:after {display:block;clear: both;content: ''}
.header > .side > ul > li > a {display:block;width:22px;height:22px;margin-left:12px;font-size:22px;line-height: 22px;color: #888;text-align: center}
.header > .side > ul > li > a:hover, .header > .side > ul > li > a:focus, .header > .side > ul > li > a:active, .header > .side > ul > li.on > a {color: #444}
.header > .side > ul .ly {position: relative;position: absolute;top:100%;right: 0;margin-top: 13px;background-color: #f9f9f9}
.header > .side > ul .ly.ly_login {overflow: hidden;margin-top: 0;background: url('../img/blank.gif') 0 0 repeat;height:0}
.header > .side > ul .ly.ly_login ul {position: relative;margin-top: 18px;padding: 8px 0;background-color: #333;z-index: 3}
.header > .side > ul .on .ly.ly_login {height: auto}
.header > .side > ul .ly a {display: block;min-width: 120px;height: 40px;padding: 0 20px;line-height: 40px;font-size: 13px;color:#555}
.header > .side > ul .ly a:hover {color:#cda25a;text-decoration: none}
.header > .side > ul > li .login_after {overflow: hidden;width: 40px;height: 40px;margin-top: -9px;border-radius: 100%}
.header > .side > ul > li .login_after img {width: 40px;height: 40px}
.header > .side > ul > li .login_after ~ .ly_login .edge {right: 11px}


/* Search */
.search_wrap {position: relative;width: 1200px;margin: 0 auto}
.search_area {display:none;position:absolute;top:0;left:0;width:1160px;padding:20px;z-index:3}
.search_area input {font-size:13px;vertical-align: top}
.search_area input[type=text] {position: relative;width: 100%;height: 40px;padding: 10px 0;border: 0;background-color: transparent;font-size: 40px;color: #444;-webkit-appearance: none;}
.search_area input[type=text]:focus {outline: 0}
.search_area input[type=text]::-ms-clear {display: none}
.search_area .btn_close {position: absolute;top: 50%;right: 0;width: 20px;height: 20px;margin-top: -10px;font-size: 22px;color: #888;text-align: center;line-height: 20px}
/* GNB */

.gnb a {text-decoration: none;white-space: nowrap}
.gnb > ul > li {float: left;position: relative;text-align:center;width:20%;padding: 0 10px;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.gnb > ul:after {display:block;clear:both;content: ''}
.gnb > ul > li:hover a {color:#ED1B23;}
.gnb > ul > li > a {display:block;position:relative;padding:0;font-family:nsb;font-weight:normal;line-height:65px;font-size:18px;color:#d6d6d6;}
.gnb > ul > li.on > a {background: url('../img/sub_line.png') 0 0 repeat;}
.gnb > ul .depth2 {z-index:2;padding:10px 5px;}
.gnb > ul .depth2 > li {position:relative;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding: 0 15px;}
.gnb > ul .depth2:after {top:-3px;left:0;width:100%;height: 3px;content: ''}
.gnb > ul .depth2 a {display: block;position: relative;height:35px;padding: 0;font-family:nsb;font-weight:normal;line-height:40px;font-size:14px;color:#555 !important}
.gnb > ul .depth2 a:hover,
.gnb > ul .depth2 a:active,
.gnb > ul .depth2 a:focus,
.gnb > ul .depth2 > li.on > a {color:#ff5722 !important}
.gnb > ul .depth3 {display: none;position: absolute;top: -8px;left: 100%;z-index: 2;padding: 8px 0;background-color: #333}
.gnb > ul .depth2 > li.more > a:after {position: absolute;right: 20px;content: '>'}
.gnb .center{position: absolute;top:115px;}
.gnb .center > dl{padding:15px 0 0 68px;background:url(../img/m_tel.png) 23px 12px no-repeat}
.gnb .center > dl > dt{padding-top:1px;font-size:12px;color:#fff;line-height:1;}
.gnb .center > dl > dd{padding-top:3px;font-family:nsb;font-weight:normal;font-size:16px;color:#B0B0B0;line-height:1;}
.gnb .center > p{padding-left:33px;padding-top:18px;font-family:nsb;font-weight:normal;font-size:30px;color:#ff5722;line-height:1;}
.gnb .center > span{display:inline-block;padding-left:18px;padding-top:12px;font-size:13px;color:#B0B0B0;line-height:20px;}

.onepage .shrink .header > .side > ul > li > a {color: #444;}
.onepage .shrink .gnb {margin-top: 0;}
.magazine .shrink .gnb {margin-bottom: 10px;}
.magazine .shrink h1 {margin-top: 10px;}
.magazine .header_wrap.shrink .gnb > ul > li > a {line-height: 40px;}

/* VISUAL */
.visual.sub {position: relative;padding:190px 0;background-color: #f6f6f6;line-height:30px;}
.visual.sub .sub_title {position: relative;width:1200px;margin: 0 auto}
.visual.sub .sub_title h1 {position: relative;font-weight: 700;font-family: Raleway, '나눔바른고딕', NanumBarunGothic, ng, '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', AppleGothic, Helvetica, sans-serif;font-size: 17px;color: #444}
.visual.sub .sub_title h1:after {position: absolute;top:115%;left:0;width:22px;height:2px;background-color:#444;content: ''}
.visual.sub .bg_img {display:none;position: absolute;top: 0;left:0;z-index: 0;width:100%;height:100%;background-position: 50% 65%;background-repeat: no-repeat;background-size: cover}
.visual.sub.sub_type2 .bg_img {display:block}
.visual.sub.sub_type2 .sub_title h1 {color:#fff;font-weight:400;font-size:23px;letter-spacing:1px;text-align:right;}
.visual.sub.sub_type2 .sub_title h1:after,
.visual.sub.sub_type3 .sub_title h1:after {background: none}
.visual.sub.sub_type3 {padding: 250px 0 210px;line-height:40px;text-align:center}
.visual.sub.sub_type3 .bg_img {display: block;background-attachment: fixed;background-size: auto auto}
.visual.sub.sub_type3 .sub_title h1 {font-size:39px;font-weight: 400;color:#fff;letter-spacing: 2px}

.swiper-container {height:600px;font-family: Raleway, '나눔바른고딕', NanumBarunGothic, ng, '돋움', Dotum, AppleGothic, Helvetica, serif;}
.swiper-container > div > div {display: table;height:500px;color: #fff;background-size: cover;}
.swiper-container > div > div > div {display: table-cell;vertical-align: middle;}
.swiper-container > div > div > div > div {width: 1200px;margin: 0 auto;}
.swiper-container h1 {font-weight:700;margin: 0 0 19px 0;font-size: 60px;line-height: 70px;text-decoration: none;}
.swiper-container p {font-size: 20px;line-height: 22px;}
.swiper-button {position: absolute;top: 50%;display: none;margin:-25px 0 0 0;}
.swiper-container:hover .swiper-button {display: block;}
.swiper-button.left {left:20px;}
.swiper-button.right {right:20px;}
.swiper-button i {width:50px;line-height: 50px;text-align: center;font-size:24px;color:#fff;}
.swiper-button button {background-color: #333;border-radius: 50px;background-color: rgba(0, 0, 0, 0.2);cursor: pointer;}
.swiper-pagination {position:absolute;left:0;text-align:center;bottom:5px;width:100%;}
.swiper-pagination-switch {display:inline-block;width:10px;height:10px;border-radius:10px;background:#fff;opacity: 0.6;margin: 0 3px;cursor:pointer;}
.swiper-active-switch {background: #fff;opacity: 1;}


/* LNB */
#lnb_title {background:#333;height:135px;text-align: center;}
#lnb_title .lnb_title_han {display:block;color:#fff;padding:38px 0 0 0;margin:0;}
#lnb_title .lnb_subtitle_han{font-size: 12px;line-height: 30px;color:rgba(255,255,255,0.6);margin: 0;padding: 0;}
#lnb_title h1{font-size:26px;font-family: nsm;font-weight: normal;}

.location_inner {position: relative;float:left;width:100%;text-align:center;margin: -11px 0 0 0;z-index:100}
.lnb {display:inline-block;background-color: #fff;width:1200px;margin:0 auto;}
.lnb > ul {position: relative;margin:0;padding: 0;}
.lnb > ul > li {float:left;position:relative;width:25%;border-right:1px solid #ddd;border-bottom:1px solid #ddd;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.lnb ul li.on:before {content: '';position: absolute;top:80%;right:50%;width:0;height:0;border-style:solid;border-width:6px;border-color: #000 transparent transparent transparent;}
.lnb > ul > li > a {position:relative;display:block;font-size:18px;color: #444;padding:22px 0;font-family: nsb;font-weight: normal;}
.lnb > ul > li > span {display: block;line-height:21px;margin-bottom: 14px;font-size:15px;color:#444}
.lnb ul li.on a {color:#ff5722}
.lnb ul ul a {display: block;padding: 10px 0;font-size: 14px;line-height: 20px;color: #888;text-decoration: none}
.lnb ul > li:hover a {color:#ff5722;}
.lnb ul ul a:focus,
.lnb ul ul a:active {color:#ff5722}
.lnb img {vertical-align: top}

.lnb .life_service li  {width:33.3333333%}


.sub_Menu {overflow: hidden;width:100%;margin:50px auto;box-sizing: border-box;}
.sub_Menu li{float:left;width:32%;text-align:center;background-color:#1b1b1b;margin-left:2%;box-sizing:border-box;}
.sub_Menu li:first-child {margin-left:0;}
.sub_Menu li.active{background-color:#d9d9d9;}
.sub_Menu li.active a{color:#000}
.sub_Menu li a{display:block;width:100%;font-size:16px;font-weight: bold;color:#fff;padding:12px 0;white-space: nowrap;}

.map-wrapper {height:600px;margin:10px 0 !important;}

.body.fixed-width.left .lnb,
.body.fixed-width.right .lnb {float: left;width: 230px;padding: 0 0 16px}
.body.fixed-width.left .content,
.body.fixed-width.right .content {float: right;width:900px;min-height: 400px;padding: 5px 0 100px}
.body.fixed-width.right .lnb {float: right}
.body.fixed-width.right .content {float: left}
.body.fixed-width.none .lnb {display:none}
.body.fixed-width.none .content {float:none;width:1200px;background-color:#fff;padding:30px 0 110px 0;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

/*Contents */
.page_navi {position: relative;width:1200px;margin:0 auto;}
.page_navi ul {float:right;margin: 0 30px 20px 0}
.page_navi ul li {float: left;}
.page_navi ul li .home {display: inline-block;width:15px;height:15px;background: url('../img/icon_home.png') no-repeat left 1px;}
.page_navi ul li span {font-size: 11px;padding: 0 5px;color: #333;}
.page_navi ul li a {color: #000;}
#content .page_title{position:relative;display:table;margin:-250px auto 80px;border-bottom: 1px solid #fff;text-align:center;}
#content .page_title:before {display: inline-block;position:absolute;bottom: -1.5px;left: -8px;content: '';background: #fff;width: 3px;height: 3px;border-radius: 50%;}
#content .page_title:after {display: inline-block;position: absolute;bottom: -1.5px;right: -8px;content: '';background: #fff;width: 3px;height: 3px;border-radius: 50%;}
#content .page_title span{display: inline-block;font-size:30px;margin-bottom:13px;color:#fff;letter-spacing: -1px;font-family:nsb;font-weight: normal;padding:0 30px;}
#content .title_bar{width:10%;border-bottom:1px solid #ccc;margin-bottom:25px}

.tel_head{position:relative;padding:80px 0 80px 50px;border: 10px solid #ED1B23;border-right: 0px;width:285px;margin:-72px 0 50px 0;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;;z-index: 100;}
.tel_head:before{content: "";position: absolute;top:0;right: 0px;width: 10px;height: 2rem;background-color:#ED1B23;}
.tel_head:after{content: "";position: absolute;bottom:0;right:0px;width: 10px;height: 2rem;background-color:#ED1B23;}
.tel_title{width:640px;font-size:28px;color: #fff;}
.tel_title b{font-size:36px;letter-spacing:-1px;padding-right:15px;}
.tel_title a{color: #fff;}
.tel_head p{width:640px;color: #fff;}
.info-count {position:absolute;right:-110px;top:-115px;width:500px;list-style:none;}
.info-count {overflow:hidden;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.info-count>li {float:left; width:25%;font-size:12px;margin: 0 4px;padding:25px 10px 15px;border:5px solid #ccc;background-color: rgba(255, 255, 255, 0.5);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.info-count>li strong { display: block;line-height: 3.3em;color: #000; }
.info-count>li i {color:#fff;}
.info-count>li svg {color:#000;}


/* Scroll to top link */
.btn_top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 57px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    background-color: #555;
    font-size: 24px;
    color: #fff;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80)
}
.btn_top:hover {
    background-color: #cda25a;
    color: #fff;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100)
}
.btn_top i {
    line-height: 48px
}
.lnb_bottom {margin-top:10px;padding:0;}
.lnb_bottom ul{margin:0;padding:0;list-style:none;}
.lnb_bottom li {text-align: justify; }
.lnb_bottom li i{top: 30px;}
.lnb_bottom li h3{}
.b_sub {overflow:hidden;list-style:none;margin:30px 0;padding:0;}
.b_sub li {float:left;position: relative;display:inline-block; width:100%;border-bottom: 1px solid #ddd;height:195px;padding:26px 20px;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.b_sub li {font-size:14px;color:#999;line-height:10px;}
.b_sub li:last-child{border:0;background: url(../img/tel.png) no-repeat center top;}
.b_sub li h3 {font-size:17px;color:#424949;margin:0 0 10px 0;padding:0;}
.b_sub li .m_button {position:absolute;padding: 0 20px;height:24px;left:20px;bottom:15px;border: #ccc 1px solid;color: #3c3c3c;font-size:12px;line-height: 23px;text-align: center;}
.b_sub li .m_button a {color: #3c3c3c;}
.b_sub li  i {position: absolute;right:15px;bottom:15px;font-size:45px;}



/* Tabl */
table	{width:100%; border:0 none; border-collapse:collapse; border-spacing:0}
table	caption	{width:0; height:0; line-height:0px; visibility:hidden}
table	th,	table	td	{border:0 none}
.table_wrap{border-top:1px solid #262626;}
.table_wrap table	{}
.table_wrap table th,
.table_wrap table td	{font-size:14px; vertical-align:middle}
.table_wrap table thead tr th	{padding:9px 10px 8px 10px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background-color:#f8f9f9; color:#333; font-size:13px; font-weight:normal; text-align:center;}
.table_wrap table thead tr th:first-child	{border-left:0}

.table_wrap table tbody tr th	{padding:9px 10px 9px 10px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background-color:#f8f9f9;color:#333;font-size:13px;font-weight:normal;text-align:center;}
.table_wrap table tbody tr th:first-child	{border-left:0}
.table_wrap table tbody tr th.al_top	{vertical-align:top; padding-top:17px}
.table_wrap table tbody tr td	{padding:9px 5px 8px 5px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; color:#333;line-height: 24px;text-align: center;}
.table_wrap table tbody tr th.on-td{border-left: #ff5722 4px solid;border-right: #ff5722 4px solid;background-color:rgba(255, 87, 34, 0.1);font-weight: bolder;}
.table_wrap table tbody tr td.on-td{border-left: #ff5722 4px solid;border-right: #ff5722 4px solid;background-color:rgba(255, 87, 34, 0.1);font-weight: bolder;}
.table_wrap table tbody tr td:first-child	{border-left:0}
.table_wrap table tbody tr td img	{vertical-align:middle}

.table_wrap table tfoot tr th{padding:9px 10px 8px 10px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background-color:#f8f9f9; color:#333; font-size:13px; font-weight:normal; text-align:center;}
.table_wrap table tfoot tr th:first-child	{border-left:0}
.table_wrap table tfoot tr td{padding:9px 14px 8px 14px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; color:#333;}

.tab {overflow:hidden;margin:70px 0;padding:0;background: url(../img/graveyard-xline.png) repeat-x 50% 50%;}
.tab li {float:left;display:inline-block;background-color:#333;margin: 0 63px;padding:15px 35px;color: rgb(255, 255, 255);font-size:14px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;cursor:pointer; }
.tab li:first-last {margin:0;}
.tab li.on { background-color:#398ff0; color:#fff; }
.tab_con { clear:both; margin-top:35px;}
.tab_con section{display:none;clear:both;}

.table_wrap03{border-top:1px solid #262626;}
.table_wrap03 table	{}
.table_wrap03 table th,
.table_wrap03 table td	{font-size:12px; vertical-align:middle}
.table_wrap03 table thead tr th	{padding:9px 10px 8px 10px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background-color:#f8f9f9; color:#333; font-size:11px; font-weight:normal; text-align:center;}
.table_wrap03 table thead tr th:first-child	{border-left:0}

.table_wrap03 table tbody tr th	{padding:9px 10px 9px 10px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background-color:#f8f9f9;color:#333;font-size:11px;font-weight:normal;text-align:center;}
.table_wrap03 table tbody tr th:first-child	{border-left:0}
.table_wrap03 table tbody tr th.al_top	{vertical-align:top; padding-top:17px}
.table_wrap03 table tbody tr td	{padding:9px 5px 8px 5px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; color:#333;line-height:18px;    text-align: center;}
.table_wrap03 table tbody tr td:first-child	{border-left:0}
.table_wrap03 table tbody tr td img	{vertical-align:middle}

.table_wrap03 table tfoot tr th{padding:9px 10px 8px 10px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background-color:#f8f9f9; color:#333; font-size:11px; font-weight:normal; text-align:center;}
.table_wrap03 table tfoot tr th:first-child	{border-left:0}
.table_wrap03 table tfoot tr td{padding:9px 14px 8px 14px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; color:#333;}

.tabs {margin: 0;padding: 0;float: left;list-style: none;border-left: 1px solid #eee;width: 100%;font-size:18px;}
.tabs li {float:left;text-align:center;cursor: pointer;width:25%;line-height:60px;border: 1px solid #eee;border-left: none;background: #fafafa;overflow: hidden;position: relative;box-sizing:border-box;}
.tabs li.active {background: #FFFFFF;border-bottom: 1px solid #FFFFFF;}
.tab_container {border-top:none;clear:both;float:left;width:100%;background: #FFFFFF;}
.tab_content {margin-top:40px;font-size:12px;display:none;}
.tab_container .tab_content ul {width:100%;margin:0px;padding:0px;}
.tab_container .tab_content ul li {list-style:none}
.tab_container h3 {color:#444;font-size:24px;margin-bottom:10px;background: url(../img/tit_icon02.png) 12px 0 no-repeat;padding:0 0 20px 30px;}

 #container {width:100%;margin: 0 auto;}
.funeral_page {overflow:hidden;list-style:none;width:100%;border-bottom:1px solid #ddd;border-right:1px solid #ddd;box-sizing:border-box;}
.funeral_page li {float:left;border: 1px solid #ddd;border-bottom:none;border-right: none;width:20%;text-align:center;padding: 30px 0;color:#666;box-sizing:border-box;}
.funeral_page li h3{display:block;color:#afa79f;font-weight:bolder;font-size:14pt;margin-bottom:5px;text-align:center;line-height:1;}
.funeral_page li h1{font-size:21px;line-height:28px;font-style:normal;color:#333;text-align: center;}
.funeral_page li p{font-size:14px;vertical-align: middle;}
.funeral_page li:before{display:block;position:absolute;margin:10px 0 0 -15px;width:31px;height:30px;content: '';background:url("../img/li_arrow.png") no-repeat;}
.funeral_page li:nth-child(1)::before {background:none;}
.funeral_page li:nth-child(6)::before {background:none;}

/* header animation */
@-webkit-keyframes ani-header {0% {top: -60px}100% {top: 0px}}