<div class="sangjo_txt">
	<div class="sangjo_info page_l"><strong>Sky Flowers 360</strong><h3>하늘 향 고급형</h3><h1>￦ 3,600,000</h1><h5>[타 상조 490만원 판매상품]</h5>
<h2>조문객이 250~400명 정도 대가족에게 적합하며
<br />한국적 장례 비용의 기준점이 되는 형태로<br>타상조 대비 30%정도 저렴하게 장례를 
  진행할 수 있도록 만든 상품 입니다.
</h2></div>
	<div class="sangjo_info02 page_r">
					<dl class="sangjo_service02">
						 <dt>
						 <p><span>01</span></p>
						 <h3>가입비, 월회비, 연회비 전혀 없습니다.</h3></dt>
						<dt>
						<p><span>02</span></p>
						<h3>별도의 가입절차 없이 전화상담 후 누구나 이용가능</h3></dt>
						<dt>
						<p><span>03</span></p>
						<h3>저렴한 비용으로 고품질/고품격 장례서비스 제공</h3></dt>
						<dt>
						<p><span>04</span></p>
						<h3>국가 공인 전문가의 행사진행 (장례지도사,장례복지사)</h3></dt>
						<dt>
						<p><span>05</span></p>
						<h3>원하시는 전국 어느 장례식장에서도 행사진행 가능</h3></dt>
					</dl>
	</div>
</div>
<div class="welcomeXE" style="margin-top:300px;">
<section class="intro_c">
<p style="text-align: center;">장례식장 사용료(빈소,안치실,입관실), 음식, 매점, 제사상, 화장비용, 장지비용 유족부담<br />장례상품 비용은 발인전까지 정산입니다.</p>
</section>
</div>
<div id="container"  style="margin-top: 30px;">
    <ul class="tabs">
        <li class="active" rel="tab1">상품정보</li>
        <li rel="tab2">장례서비스</li>
        <li rel="tab3">고인용품</li>
		<li rel="tab4">의전용품</li>
    </ul>
    <div class="tab_container">
        <div id="tab1" class="tab_content">
										<h3>고급형 상품정보</h3>
										<div class="table_wrap02">
										<table border="1">
											<caption>장례서비스</caption>
											<colgroup><col style="width:20%;" /><col style="width:10%;" /><col style="width:10%;" /><col style="width:80%;" /></colgroup>
												<tbody>
													<tr>
														<th scope="row" class="t_left" rowspan="3">
														인력<br>
														지원</th>
														<th scope="row"  colspan="2" class="t_left">
														의전팀장</th>
														<td class="t_left">1급 
														장례지도사 1명 (3일)</td>
													</tr>
													<tr>
														<th scope="row"  colspan="2" class="t_left">
														장례 예식사</th>
														<td class="t_left">입관 
														진행시 2명</td>
													</tr>
													<tr>
														<th scope="row"  colspan="2" class="t_left">
														문상객도우미</th>
														<td class="t_left">6명ｘ8시간 
														(총48시간)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" rowspan="3">
														의전<br>
														차량</th>
														<th scope="row"  colspan="2" class="t_left">
														고인전용 리무진</th>
														<td class="t_left">
														왕복 300km 제공 (초과시 1km 
														1,800원)</td>
													</tr>
													<tr>
														<th scope="row"  colspan="2" class="t_left">
														유가족 장의버스</th>
														<td class="t_left">
														왕복 300km 제공 (초과시 1km 
														1,800원)</td>
													</tr>
													<tr>
														<th scope="row"  colspan="2" class="t_left">
														앰블런스</th>
														<td class="t_left">관내 무료 
														(요청시)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" rowspan="2">
														꽃<br>
														장식</th>
														<th scope="row"  colspan="2" class="t_left">
														제단장식</th>
														<td class="t_left">20만원 
														지원</td>
													</tr>
													<tr>
														<th scope="row"  colspan="2" class="t_left">
														헌화 꽃</th>
														<td class="t_left">30송이 
														제공</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" rowspan="4">
														고인<br />
														용품</th>
														<th scope="row" class="t_left" rowspan="2">
														관</th>
														<th scope="row" class="t_left">
														화장시</th>
														<td class="t_left">오동나무관 
														규격관 (화장 전용관)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														매장시</th>
														<td class="t_left">
														1.5 오동나무 관</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="2">
														수의</th>
														<td class="t_left">
														하늘향 3호 수의 (대마)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="2">
														유골함</th>
														<td class="t_left">
														화장시 기본함 제공</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" rowspan="3">
														의전<br />
														용품</th>
														<th scope="row" class="t_left" rowspan="2">
														현대식</th>
														<th scope="row" class="t_left">
														검정양복 (남)</th>
														<td class="t_left">7벌 
														(와이셔츠, 넥타이 포함)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														검정,흰색 (여)</th>
														<td class="t_left">7벌 (검정/흰색 데드론, 개량한복)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="2">
														의전/빈소용품</th>
														<td class="t_left">
														입관 용품, 초도용품 일체제공 (60여가지 
														지원)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="3">
														알선서비스</th>
														<td class="t_left">납골묘, 
														추모관(봉안당), 수목장, 장례식장, 
														사망진단서, 이장공사, 장지조성공사, 
														석물공사,<br>
														장지접대음식 등 기타 행정지원 서비스</td>
													</tr>
												</tbody>
											</table>
											</div>
        </div>
        <!-- #tab1 -->
        <div id="tab2" class="tab_content">
										<h3>장례서비스</h3>
																				<div class="table_wrap02">
										<table border="1">
											<caption>장례서비스</caption>
											<colgroup><col style="width:20%;"><col style="width:20%;"><col style="width:80%;"></colgroup>
												<tbody>
													<tr>
														<th scope="row" class="t_left" rowspan="3">
														인력<br>
														지원</th>
														<th scope="row" class="t_left">
														의전팀장</th>
														<td class="t_left">1급 
														장례지도사 1명 (3일)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														장례 예식사</th>
														<td class="t_left">입관 
														진행시 2명</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														문상객도우미</th>
														<td class="t_left">6명ｘ8시간 
														(총48시간)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" rowspan="3">
														의전<br>
														차량</th>
														<th scope="row" class="t_left">
														고인전용 리무진</th>
														<td class="t_left">
														왕복 300km 제공 (초과시 1km 
														1,800원)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														유가족 장의버스</th>
														<td class="t_left">
														왕복 300km 제공 (초과시 1km 
														1,800원)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														앰블런스</th>
														<td class="t_left">관내 무료 
														(요청시)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" rowspan="2">
														꽃<br>
														장식</th>
														<th scope="row" class="t_left">
														제단장식</th>
														<td class="t_left">20만원 
														지원</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														헌화 꽃</th>
														<td class="t_left">30송이 
														제공</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="2">
														알선서비스</th>
														<td class="t_left">납골묘, 
														추모관(봉안당), 수목장, 장례식장, 
														사망진단서, 이장공사, 장지조성공사, 
														석물공사,<br>
														장지접대음식 등 기타 행정지원 서비스</td>
													</tr>
												</tbody>
											</table>
											</div>
		</div>
        <!-- #tab2 -->
        <div id="tab3" class="tab_content">
										<h3>고인용품</h3>
										<div class="table_wrap02">
										<table border="1">
											<caption>고인용품</caption>
											<colgroup><col style="width:20%;" /><col style="width:10%;" /><col style="width:10%;" /><col style="width:80%;" /></colgroup>
												<tbody>
													<tr>
														<th scope="row" class="t_left" rowspan="4">
														고인<br />
														용품</th>
														<th scope="row" class="t_left" rowspan="2">
														관</th>
														<th scope="row" class="t_left">
														화장시</th>
														<td class="t_left">오동나무관 
														규격관 (화장 전용관)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														매장시</th>
														<td class="t_left">
														1.5 오동나무 관</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="2">
														수의</th>
														<td class="t_left">
														하늘향 3호 수의 (대마)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="2">
														유골함</th>
														<td class="t_left">
														화장시 기본함 제공</td>
													</tr>
												</tbody>
											</table>
											</div>
		</div>
        <!-- #tab3 -->
		<div id="tab4" class="tab_content">
										<h3>의전용품</h3>
										<div class="table_wrap02">
										<table border="1">
											<caption>의전용품</caption>
											<colgroup><col style="width:20%;" /><col style="width:10%;" /><col style="width:10%;" /><col style="width:80%;" /></colgroup>
												<tbody>
													<tr>
														<th scope="row" class="t_left" rowspan="3">
														의전<br />
														용품</th>
														<th scope="row" class="t_left" rowspan="2">
														현대식</th>
														<th scope="row" class="t_left">
														검정양복 (남)</th>
														<td class="t_left">7벌 (와이셔츠, 넥타이 포함)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left">
														검정,흰색 (여)</th>
														<td class="t_left">7벌 (검정/흰색 데드론, 개량한복)</td>
													</tr>
													<tr>
														<th scope="row" class="t_left" colspan="2">
														의전/빈소용품</th>
														<td class="t_left">
														입관 용품, 초도용품 일체제공 (60여가지 
														지원)</td>
													</tr>
												</tbody>
											</table>
											</div>
		</div>
   
</div>
</div>
							<div class="xe_content xe-widget-wrapper " style="float:left;padding:none;margin:none;width:100%;">
							<div style="padding:0px 0px 0px 0px !important;">
							<div class="life_service_img">
							<p></p>
							<h4><strong>반드시</strong> 임종 전 <strong class="brown">1833-5919</strong>로<br>
							미리 전화 주십시오.</h4><p></p>
							<p>장지 예약 및 장례식장 선정 등 더욱 순조로운 장례를 도와드립니다. <br>
							* 만약 장례식장이나 병원측과 먼저 계약을 하시고 나면, 저희가 혜택을 드릴 수 없습니다.</p>
							<div class="life_service_txt">
								<dl>
									<dt>수의</dt>
									<dd>원단 : 중국</dd>
									<dd>제조방법 : 기계직</dd>
									<dd>제조지역 : 대한민국</dd>
								</dl>
								<dl>
									<dt>관</dt>
									<dd>오동나무 관</dd>
									<dd>제조지역 : 대한민국</dd>
								</dl>
								<dl class="life_service_car">
									<dt>장의차량 서비스</dt>
									<dd>장의버스 (기아, 대우, 현대, 대형버스 / 2011-2015년식)<br>
									* 장의차종은 지역에 따라 변동될 수 있습니다. </dd>
									<dd>장의리무진 (링컨 콘티넨탈 / 2011-2015년식)</dd>
								</dl>
							</div>
						</div></div></div>
						<div class="xe_content xe-widget-wrapper " style="float:left;padding:none;margin:none;width:100%;"><div style="padding:0px 0px 0px 0px !important;"><div class="ico_box">
<ul>
	<li>장례식장 시설사용료(빈소ㆍ염습실ㆍ안치실), 식대, 매점비용, 화장비, 장지관련 비용 등은 상품금액에 포함되어 있지 않습니다.</li>
	<li>상품금액 정산은 발인전 일괄 정산입니다.</li>
	<li>차량의 진입이 불가능한 지역은 서비스가 제한됩니다.</li>
	<li>장의차량의 톨케이트 비용은 사용자 부담입니다.</li>
	<li>장례는 3일장 기준이며 일수 추가 시 추가비용이 발생됩니다.</li>
	<li> 문상객 도우미 추가 1인당 8시간 8만원이 추가됩니다. (대중교통이 불가한 심야 근무 시 추가비용이 발생 할 수 있습니다.)</li>
	<li>앰블런스는 미리 연락주셔야 서비스 이용이 가능합니다. (장례식장, 병원과 겹치는 비용 이중지출 방지)</li>
</ul>
</div></div></div>